
<div class="accounts-section">
    <div class="row">
        <div class="col-6">
            <h6 class="text-muted-header"> SOW Tracker </h6>
        </div>
        <div class="col-6">
            <!-- <i class="fa fa-refresh fa-1x affine-blue-text-noline pull-right" (click)="refresh(selectedItems)"></i> -->
        </div>
    </div>
    <div class="breadcrumbs">
      <a [routerLink]="['/basic']" class="nav-link-action bc-text">
          Account
      </a>
      <span class="gt-symbol">></span>
        <a [routerLink]="['/msa']" [queryParams]="{id:Account_Id }" href="javascript:void(0)" class="nav-link-action bc-text">
            MSA
        </a>
        <span class="gt-symbol">></span>
        <span class="bc-text active">SOW</span>
    </div>
    <div class="horizontal-pipe-line"></div>

	<div class="tabs-details-container">
		<div class="tabs-list">
            <div class="row mt-3" style="margin-top:0px !important">
                <div class="col-sm-6 col-md-12">
                    <div class="basic-details tab-content">
                        <div class="tab-info tab-pane active">
                            <div class="row">
                              <div class="col-12">
                                    <button class="btn btn-default pull-right affine-blue" (click)="addSOW()"> Add SOW <i class="fa fa-plus"> </i></button>
                                </div>
                            </div>
                            <hr class="cus-hr" />
                            <div class="row form-row" [hidden]="!addSOWForm">
                                <div class="col-12">
                                    <i class="fa fa-times pull-right" (click)="hideTab()"></i>
                                </div>
                                <div class="col-12" *ngIf="SOWDetails">
                                    <form novalidate #f="ngForm" (ngSubmit)="save(f.value)" class="tab-info tab-content">
                                        <h6 class="tab-h6"> SOW Information </h6>
                                        <hr class="cus-hr"/>
                                    <div class="row cus-row" >
                                        <div class="col-md-6">  <!-- left half -->
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> SOW Name  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Name" [ngModel]="SOWDetails.SOW_Name "  #SOWName="ngModel"  placeholder="SOW Name" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> SOW Number  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Number" [ngModel]="SOWDetails.SOW_Number "  #SOWNumber="ngModel"  placeholder="SOW Number" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> MSA Name  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <!-- <select class="form-control"  name="Account_Id" [ngModel]="SOWDetails.Account_Id "  #AccountId="ngModel"  required ></select> -->
                                                      <label>{{MSAName}}</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> Description  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <textarea class="form-control" type="text"  name="SOW_Description" [ngModel]="SOWDetails.SOW_Description "  #SOWDescription="ngModel"  placeholder="Description" ></textarea>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> Start Date <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="date"  name="SOW_Start_Date" [ngModel]="SOWDetails.SOW_Start_Date | date:'yyyy-MM-dd'"  #SOWStartDate="ngModel" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> End Date  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <!-- <input class="form-control" type="date"  name="SOW_End_Date" [ngModel]="SOWDetails.SOW_End_Date" (ngModelChange)="SOWDetails.SOW_End_Date=$event" #SOWEndDate="ngModel"    /> -->
                                                      <input type="date" class="form-control"  name="SOW_End_Date"  [ngModel] ="SOWDetails.SOW_End_Date | date:'yyyy-MM-dd'"   #SOWEndDate="ngModel" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> SOW Value  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-md-3">
                                                        <select class="form-control"  name="SOW_Currency" [ngModel]="SOWDetails.SOW_Currency "  #SOWCurrency="ngModel" required>
                                                          <option value="INR">₹</option>
                                                          <option value="USD">$</option>
                                                          <option value="GBP">£</option>
                                                        </select>
                                                      </div>
                                                      <div class="col-md-9">
                                                        <input class="form-control" type="number" min=0 name="SOW_Value" [ngModel]="SOWDetails.SOW_Value "  #SOWValue="ngModel"  placeholder="SOW Value"  required/>
                                                      </div>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> Monthly Value  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="number"  name="SOW_Monthly_Value" [ngModel]="SOWDetails.SOW_Monthly_Value "  #SOWMonthlyValue="ngModel"  placeholder="Monthly Value"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> No of Persons  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="number"  name="SOW_No_Of_Persons" [ngModel]="SOWDetails.SOW_No_Of_Persons "  #SOWNoOfPersons="ngModel"  placeholder="Number of Persons"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Onsite Count  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Onsite_Count" [ngModel]="SOWDetails.SOW_Onsite_Count "  #SOWOnsiteCount="ngModel"  placeholder="Onsite Count"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Onsite Rate<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Onsite_Rate" [ngModel]="SOWDetails.SOW_Onsite_Rate "  #SOWOnsiteRate="ngModel"  placeholder="Onsite Rate"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Max Onsite hours per day<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Max_Onsite_Hours_Per_Day" [ngModel]="SOWDetails.SOW_Max_Onsite_Hours_Per_Day "  #SOWMaxOnsiteHoursPerDay="ngModel"  placeholder="Max hours per day" required />
                                                  </div>
                                              </div>
                                          </div>

                                        </div>
                                        <div class="col-6"><!--Right half-->

                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Offshore Count  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Offshore_Count" [ngModel]="SOWDetails.SOW_Offshore_Count "  #SOWOffshoreCount="ngModel"  placeholder="Offshore Count"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Offshore Rate<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Offshore_Rate" [ngModel]="SOWDetails.SOW_Offshore_Rate "  #SOWOffshoreRate="ngModel"  placeholder="Offshore Rate"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Max Offshore hours per day<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Max_Offshore_Hours_Per_Day" [ngModel]="SOWDetails.SOW_Max_Offshore_Hours_Per_Day "  #SOWMaxOffshoreHoursPerDay="ngModel"  placeholder="Max hours per day" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Travel<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Travel" [ngModel]="SOWDetails.SOW_Travel "  #SOWTravel="ngModel"  placeholder="Travel Allowance"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Onsite Discount<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Onsite_Discount" [ngModel]="SOWDetails.SOW_Onsite_Discount "  #SOWOnsiteDiscount="ngModel"  placeholder="Onsite Discount"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Offshore Discount<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Offshore_Discount" [ngModel]="SOWDetails.SOW_Offshore_Discount "  #SOWOffshoreDiscount="ngModel"  placeholder="Offshore Discount"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Additional<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Additional" [ngModel]="SOWDetails.SOW_Additional "  #SOWAdditional="ngModel"  placeholder="Additional info"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Invoice Frequency<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <select class="form-control" type="text"  name="SOW_Invoice_Frequency" [ngModel]="SOWDetails.SOW_Invoice_Frequency "  #SOWInvoiceFrequency="ngModel"  required>
                                                        <option value="monthly">Monthly</option>
                                                        <option value="milestone">Milestone</option>
                                                        <option value="others">Others</option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Invoice Credit Period<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="SOW_Invoice_Credit_Period" [ngModel]="SOWDetails.SOW_Invoice_Credit_Period "  #SOWInvoiceCreditPeriod="ngModel"  placeholder="Credit Period" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="row">
                                                  <label class="col-md-5">Upload SOW Document<span class="pull-right"> : </span> </label>
                                                  <div class="col-md-3">
                                                    <input type="hidden" class="form-control" name="SOW_Document" [(ngModel)]="SOWDetails.SOW_Document" #SOWFile="ngModel" />
                                                    <input type="file" multiple (change)="fileChangeEvent($event)" />
                                                  </div>
                                                  <div class="col-md-3">
                                                    <button type="button" (click)="upload('SOW_Document')">Attach</button> <i class="fa-thumbs-up fa green" [hidden]="SOW_thumbHidden"> </i>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div class="row">
                                            <div class="col-md-9"></div>
                                            <div class="col-md-3">
                                              <input type = "button" class="btn btn-success btn-cus-grey" [disabled]="!enablePr" (click)="showProfitability()" value = "Profitability"/>
                                              <button type="submit" class="btn btn-primary btn-cus-grey pull-right" [hidden]="submitButton" > SUBMIT </button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-md-11">
                                        <app-sow-profitability *ngIf = "showPr" [sowId] ="sowId" [sowDetails] = "sowDetails" [disableInputs]="disableInputs" (newEmergency)="getEmergencyDetails($event)"></app-sow-profitability>
                                      </div>
                                      <div class="col-md-1">
                                          <i class="fa fa-times rm-work-exp" aria-hidden="true" [hidden]= "!showPr" (click)="hideProfitability()" title="Hide Profitability"></i>
                                      </div>
                                    </div>
                                  </form>
                              </div>
                          </div>

                          <div class="row" style="background:#f7f7f7">
                              <div class="col-12">

                                <table class="table table-bordered table-striped cus-table" [mfData]="SOWList" #mf="mfDataTable" [mfRowsOnPage]="10">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>S.No</th>
                                            <th>SOW Name</th>
                                            <th>SOW No</th>
                                            <th>MSA Name</th>
                                            <th> Document </th>
                                            <th> Start Date </th>
                                            <th> End Date </th>
                                            <th> SOW Value </th>
                                            <th> # Persons</th>
                                            <th> Onsite Rate </th>
                                            <th> Invoice Frequency </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf = "isSOW">
                                         <tr *ngFor="let sow of mf.data;let i = index" >
                                             <td> {{i+1}} </td>
                                             <td> {{ sow.SOW_Name }} </td>
                                             <td> {{ sow.SOW_Number }} </td>
                                             <td> {{ sow.MSA_Name }} </td>
                                             <td>
                                               <a href="{{SOWFilePath+sow.SOW_Document}}" target="_blank"><i class="fa fa-download" *ngIf = "sow.SOW_Document === null ? false:true;"></i> {{ sow.SOW_Document }} </a>
                                             </td>
                                             <td> {{ sow.SOW_Start_Date | date: 'mediumDate'}}  </td>
                                             <td> {{ sow.SOW_End_Date | date: 'mediumDate'}} </td>
                                             <td> {{ sow.SOW_Value | currency:sow.SOW_Currency:true:'1.2-2' }} </td>
                                             <td> {{ sow.SOW_No_Of_Persons }} </td>
                                             <td> {{ sow.SOW_Onsite_Rate }} </td>
                                             <td> {{ sow.SOW_Invoice_Frequency }} </td>
                                             <td>
                                               <i class = "fa fa-edit" (click) = "editSOW(sow)"></i>
                                              <i class="fa fa-trash action-icon margin-left" (click)="deleteSOW(sow)"></i>
                                             </td>
                                         </tr>
                                    </tbody>
                                    <tbody *ngIf = "!isSOW">
                                      <tr>
                                        <td colspan = "12" style="text-align:center;">No Data</td>
                                      </tr>
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                          <td colspan="12">
                                              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                          </td>
                                      </tr>
                                      </tfoot>
                                </table>

                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>
</div>
