
<div class="accounts-section">
    <div class="row">
        <div class="col-6">
            <h6 class="text-muted-header"> Account Tracker </h6>
        </div>
        <div class="col-6">
            <!-- <i class="fa fa-refresh fa-1x affine-blue-text-noline pull-right" (click)="refresh(selectedItems)"></i> -->
        </div>
    </div>

    <div class="horizontal-pipe-line"></div>

	<div class="tabs-details-container">
		<div class="tabs-list">
            <div class="row mt-3" style="margin-top:0px !important">
                <div class="col-sm-6 col-md-12">
                    <div class="basic-details tab-content">
                        <div class="tab-info tab-pane active">
                            <div class="row">
                              <div class="col-12">
                                    <button class="btn btn-default pull-right affine-blue" (click)="addAccount()"> Add Account <i class="fa fa-plus"> </i></button>
                                </div>
                            </div>
                            <hr class="cus-hr" />
                            <div class="row form-row" [hidden]="!addAccountForm">
                                <div class="col-12">
                                    <i class="fa fa-times pull-right" (click)="hideTab()"></i>
                                </div>
                                <div class="col-12" *ngIf="AccountDetails">
                                    <form novalidate #f="ngForm" (ngSubmit)="save(f.value)" class="tab-info tab-content">
                                        <h6 class="tab-h6"> Account Information </h6>
                                        <hr class="cus-hr"/>
                                    <div class="row cus-row" >
                                        <div class="col-md-6">  <!-- left half -->
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> Account Name  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="Account_Name" [ngModel]="AccountDetails.Account_Name "  #AccountName="ngModel"  placeholder="Account Name" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> Account Manager  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="Account_Manager" [ngModel]="AccountDetails.Account_Manager"  #AccountManager="ngModel"  placeholder="Account Manager" required />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Client Contact Person  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="Contact_Person" [ngModel]="AccountDetails.Contact_Person "  #ContactPerson="ngModel"  placeholder="Contact Person Name"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Client Address  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="Address" [ngModel]="AccountDetails.Address "  #Address="ngModel"  placeholder="Address"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> Country  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <select class="form-control"  name="Country" [ngModel]="AccountDetails.Country "  #Country="ngModel"  >
                                                        <option value="India">India</option>
                                                        <option vlaue="USA">USA</option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> State  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <select class="form-control"  name="State" [ngModel]="AccountDetails.State "  #State="ngModel"  >
                                                        <option>Karnataka</option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </div> -->
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5"> City  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="City" [ngModel]="AccountDetails.City "  #City="ngModel"  placeholder="City"  />
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-6"><!--Right half-->
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Client Email ID  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="email"  name="Email_Id" [ngModel]="AccountDetails.Email_Id "  #ContactEmail="ngModel"  placeholder="Email id"  />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="row">
                                                  <label class="col-md-5">Client Phone Number  <span class="pull-right"> : </span> </label>
                                                  <div class="col-md-6">
                                                      <input class="form-control" type="text"  name="Phone_Number" [ngModel]="AccountDetails.Phone_Number "  #ContactNumber="ngModel"  placeholder="Phone Number"  />
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-cus-grey pull-right" [hidden]="submitButton" > SUBMIT </button>
                                        </div>
                                    </div>
                                  </form>
                              </div>
                          </div>

                          <div class="row" style="background:#f7f7f7">
                              <div class="col-12">
<button class="btn btn-default export-excel affine-blue pull-right" (click)="fileDownload()">Export <i class="fa fa-download"></i></button>
                                <table class="table table-bordered table-striped cus-table" [mfData]="accList" #mf="mfDataTable" [mfRowsOnPage]="10">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>S.No</th>
                                            <th>Account Name</th>
                                            <th>Account Manager</th>
                                            <th>Client Contact Person </th>
                                            <th> Address </th>
                                            <th> Country </th>
                                            <th> City </th>
                                            <th> Client Email</th>
                                            <th> Client Phone </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr *ngFor="let account of mf.data;let i = index">
                                             <td> {{i+1}} </td>
                                             <td>
                                               <a  [routerLink]="['/msa']" [queryParams]="{id:getAccountId(account) }" href="javascript:void(0)" >
                                                   {{ account.Account_Name }}
                                               </a>
                                             </td>
                                             <td> {{ account.Account_Manager }} </td>
                                             <td> {{ account.Contact_Person }} </td>
                                             <td> {{ account.Address }} </td>
                                             <td> {{ account.Country }} </td>
                                             <td> {{ account.City }} </td>
                                             <td> {{ account.Email_Id }} </td>
                                             <td> {{ account.Phone_Number }} </td>
                                             <td>
                                               <i class = "fa fa-edit" (click) = "editAccount(account)"></i>
                                               <i class="fa fa-trash action-icon margin-left" (click)="deleteAccount(account)"></i>
                                             </td>
                                         </tr>
                                    </tbody>
                                    <tbody *ngIf = "!accList">
                                      <tr>
                                        <td colspan = "10" style="text-align:center;">No Data</td>
                                      </tr>
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                          <td colspan="10">
                                              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                          </td>
                                      </tr>
                                      </tfoot>
                                </table>

                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>
</div>
