<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Reports'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="mb-12">
                <!-- <div class="card-header"> Reports > Educational Qualification Details</div> -->
                <div class="breadcrumbs">
                    <!-- <a [routerLink]="['/reports']" class="nav-link-action bc-text">
                        Reports
                    </a>
                    <span class="gt-symbol">></span> -->
                    <span class="bc-text active">Revenue Calculator </span>
                </div>
                <div class="horizontal-pipe-line"></div>
                <div class="tabs-details-container">
                    <div class="tabs-list">
                        <ngb-tabset>
                          <ngb-tab>
                                <ng-template ngbTabTitle>Expected Revenue</ng-template>
                                <ng-template ngbTabContent>

                                    <!-- <div class="pad-10"> -->
                                    <!-- <div class="col-md-12 cus-background"> -->
                                      <app-expected-revenue></app-expected-revenue>
                                    <!-- </div> -->
                                    <!-- </div> -->
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Actual Revenue</ng-template>
                                <ng-template ngbTabContent>
                                    <app-actual-revenue></app-actual-revenue>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
