<div class="col-12">
  <h6 class="tab-h6"> Profitability </h6>
  <!-- <hr class="cus-hr"/> -->

<form [formGroup]="profitabilityForm" novalidate class="tab-info tab-content">

  <div class="col-12" >
    <div class="row" *ngIf = "showSummary">
      <!-- <div class="col md-2">

      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 box-blue">
            <div class="box-title">SOW VALUE</div>
            <hr/>
            <div>{{sowValue | currency:currency:true:'1.2-2'}} </div>
          </div>
          <div class="col-md-3 box-violet">
            <div class="box-title">TOTAL COST</div>
            <hr class="cus-hr"/>
            <div>{{totalCost | currency:currency:true:'1.2-2'}}</div>
          </div>
          <div class="col-md-3 box-green">
            <div class="box-title">PROFITABILITY</div>
            <hr/>
            <div>{{profitability | currency:currency:true:'1.2-2'}} ( {{profitabilityPercent }} %)</div>
          </div>
        </div>

      </div> -->


      <div class="col-md-12">
        <div class = "single-disp">
          <div class="row">
            <div class="col-md-4 disp-title">
              SOW VALUE
            </div>
            <div class="col-md-6 disp-text">
              {{sowValue | currency:currency:true:'1.2-2'}}
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-5 green-top">
            <div class= "border-bottom">
              ESTIMATED
            </div>
            <div class="row">
              <div class="col-md-6 inner-content text-center border-right">
                <div class= "margin-bottom title">COST</div>
                <div class="c100 p50 small orange">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div><span class = "disp_vals">{{totalCost | currency:currency:true:'1.2-2'}}</span>
              </div>
              <div class="col-md-6">
                <div class= "margin-bottom title">PROFITABILITY</div>
                <div class="c100 p50 small">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div><span class = "disp_vals">{{profitability | currency:currency:true:'1.2-2'}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-5 violet-top">
            <div class= "border-bottom">
              ACTUAL
            </div>
            <div class="row">
              <div class="col-md-6 inner-content text-center border-right">
                <div class= "margin-bottom title">COST</div>
                <div class="c100 p50 small orange">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div><span class = "disp_vals">{{totalCost | currency:currency:true:'1.2-2'}}</span>
              </div>
              <div class="col-md-6">
                <div class= "margin-bottom title">PROFITABILITY</div>
                <div class="c100 p50 small">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div><span class = "disp_vals">{{profitability | currency:currency:true:'1.2-2'}}</span>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="arrow-estimated"></div>
          <div class="arrow-actual"></div>
        </div>

      </div>

    </div>
    <table class="table table-bordered table-striped cus-table" [mfData]="SOWList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead class="thead-inverse">
            <tr>
                <th>Resource Level</th>
                <th>Resource Type</th>
                <th>Resource Location</th>
                <th># Resources</th>
                <th># weeks</th>
                <th> Rate ( /hr ) </th>
                <th> Additional expenses </th>
                <th> Cost </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody formArrayName="profitabilities" class="well well-lg">
             <tr *ngFor="let profitability of profitabilities.controls; let i=index" [formGroupName]="i">
                 <td>
                   <select class="form-control"  name="Profitability_Resource_Level" formControlName="Profitability_Resource_Level" (change) = "onResourceChange(profitability)" >
                       <option value="sba">SBA</option>
                       <option value="ba">BA</option>
                       <option value="consultant">Consultant</option>
                       <option value="analyst">Analyst</option>
                       <option value="ds">Data Scientist</option>
                       <option value="sse">Sr. Software Engineer</option>
                       <option value="manager">Manager</option>
                       <option value="others">Others</option>
                   </select>
                 </td>
                 <td>
                   <select class="form-control"  name="Profitability_Resource_Type" formControlName="Profitability_Resource_Type" >
                       <!-- <option *ngFor="let rel of dataStream.relations" value="{{ rel.Map_Relative_Id }}">
                           {{ rel.Map_Relative_Name }}
                       </option> -->
                       <option [hidden] = "hideType" value="billed">Billed</option>
                       <option [hidden] = "hideType" value="buffer">Buffer</option>
                       <option [hidden] = "!hideType" value="travel">Travel</option>
                   </select>
                 </td>
                 <td>
                   <select class="form-control"  name="Profitability_Resource_Location" formControlName="Profitability_Resource_Location" >
                       <option value="onsite">Onsite</option>
                       <option value="offshore">Offshore</option>
                   </select>
                 </td>
                 <td>
                   <input type="number" min="0" class="form-control" name="Profitability_No_Of_Resources" formControlName="Profitability_No_Of_Resources" placeholder="Resources Count"  >
                 </td>
                 <td>
                   <input type="number" min="0" class="form-control" name="Profitability_No_Of_Weeks" formControlName="Profitability_No_Of_Weeks" placeholder="Weeks Count"  >
                 </td>
                 <td>
                   <input type="number" min="0" class="form-control" name="Profitability_Rate" formControlName="Profitability_Rate" placeholder="Rate per hour"  >
                 </td>
                 <td>
                   <input type="number" min="0" class="form-control" name="Profitability_Additional" formControlName="Profitability_Additional" placeholder="Additional Expenses"  >
                 </td>
                 <td>
                   <input type="number" min="0" class="form-control" name="Profitability_Cost" formControlName="Profitability_Cost" placeholder="Cost"  >
                 </td>
                 <!-- <td [hidden]="hideForm(1+i)">
                   <i class = "fa fa-edit margin-left" (click) = "editProfitability(profitability,i)"></i>
                   <i class="fa fa-trash action-icon margin-left" (click)="deleteProfitability(profitability,i)"></i>
                 </td> -->
                 <!-- <td class = "action-col"> -->
                 <td>
                   <i class = "fa fa-edit margin-left" [hidden]="hideForm(1+i)" (click) = "editProfitability(profitability,i)"></i>
                   <i class="fa fa-save margin-left" [hidden]="!hideForm(1+i)" (click)="saveThisProfitability(profitability)"></i>
                   <i class="fa fa-trash action-icon margin-left" [hidden]="hideForm(1+i)" (click)="deleteProfitability(profitability,i)"></i>
                   <i class="fa fa-close action-icon margin-left" [hidden]="!hideForm(1+i)" (click)="cancelEdit(profitability)"></i>
                 </td>
             </tr>
        </tbody>
        <tbody >
          <tr>
            <td colspan = "9" style="text-align:center;">
              <button style="font-size:12px;" (click)="addProfitability()" type="button" class="btn btn-default btn-cus-grey" [hidden]= "disableInputs">Add <i class="fa fa-plus"> </i> </button>
            </td>
          </tr>
        </tbody>

    </table>

  </div>


</form>
</div>
